* {
    font-family: sans-serif;
}

html {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,183,181,1) 0%, rgba(255,255,255,0) 40%);
}

body {
    margin: 5vw;
}

h2 {
    margin-top: 2rem;
}