@charset "UTF-8";
/** Less based style sheet. @author Nat Welch @author Ted Morin */
* { margin: 0; padding: 0; }

body { color: #333333; line-height: 1.4em; background-color: #de66ff; font-family: 'Lato', sans-serif; font-size: 15px; background: -moz-linear-gradient(top, #de66ff 0%, #ff7373 31%, #f1d08e 59%, #e2f3d3 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #de66ff), color-stop(31%, #ff7373), color-stop(59%, #f1d08e), color-stop(100%, #e2f3d3)); background: -webkit-linear-gradient(top, #de66ff 0%, #ff7373 31%, #f1d08e 59%, #e2f3d3 100%); background: -o-linear-gradient(top, #de66ff 0%, #ff7373 31%, #f1d08e 59%, #e2f3d3 100%); background: -ms-linear-gradient(top, #de66ff 0%, #ff7373 31%, #f1d08e 59%, #e2f3d3 100%); background: linear-gradient(to bottom, #de66ff 0%, #ff7373 31%, #f1d08e 59%, #e2f3d3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de66ff', endColorstr='#e2f3d3', GradientType=0 ); }

h1, h2, h3, h4, h5 { font-family: 'Raleway', sans-serif; }

/** Fix float problem. http://www.positioniseverything.net/easyclearing.html */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.download { display: block; text-align: right; }

#resume { background-color: #FFF; max-width: 800px; position: relative; margin: 0; padding: 8px 30px; /*Custom CSS*/ /*Let the user make a horizontal list*/ /*Remove bullets from top list for contact*/ /*Subtle list bullets*/ /*Float right for contact information*/ }
#resume h1, #resume h2, #resume h3, #resume h4, #resume h5, #resume h6 { border: 0; }
#resume h1 { font-size: 170%; padding-top: 0.5em; margin-top: 1.5em; }
#resume h1:first-child { margin-top: 0.3em; padding-bottom: 0.3em; padding-top: 0.25em; border-top: none; font-size: 230%; }
#resume h2 { font-size: 150%; margin-top: 1em; border-top: 2px solid #fe757f; padding-top: 0.5em; }
#resume h3 { margin-top: 1em; }
#resume p { margin: 1em 0; line-height: auto; }
#resume ul, #resume ol { margin: 1em 0 1em 1.1em; }
#resume ul li, #resume ol li { margin-top: 0.3em; margin-bottom: 0.3em; }
#resume ul li ul, #resume ul li ol, #resume ol li ul, #resume ol li ol { margin-left: 0.5em; }
#resume ul ul, #resume ul ol, #resume ol ul, #resume ol ol { margin-top: 0; margin-bottom: 0; }
#resume blockquote { border-left: 5px solid #fe757f; margin: 1em 0; padding-left: 0.6em; }
#resume a, #resume a:visited { color: #c35860; text-decoration: none; }
#resume a:hover { text-decoration: underline; }
#resume img { max-width: 100%; }
#resume blockquote { margin: 1em 0; border-left: 5px solid #fe757f; padding-left: 0.6em; color: #333333; }
#resume dt { font-weight: bold; margin-left: 1em; }
#resume dd { margin-left: 2em; margin-bottom: 1em; }
#resume .horizontal-list + ul { text-align: center; }
#resume .horizontal-list + ul li { font-size: 100%; list-style-type: none; display: inline-block; /*See media query for other version*/ width: 32.33333%; }
#resume .horizontal-list + ul li:before { content: ''; }
#resume h1 + ul { margin-left: 0.8em; }
#resume h1 + ul > li:before { content: ''; }
#resume ul { list-style-type: none; }
#resume li:before { content: '▸'; padding-right: 0.5em; color: #fe757f; }
@media (min-width: 840px) and (min-device-width: 840px) { #resume { margin: 30px auto; /*Let the user make a horizontal list*/ /*Float right italics after an h4,
* Meant for dates.
*/ }
  #resume h1:first-child { margin-top: 1em; }
  #resume h1 + ul { font-size: 110%; float: right; text-align: right; position: absolute; right: 1.8em; top: 1em; margin: 0; }
  #resume ul, #resume ol { margin-left: 0; }
  #resume .horizontal-list + ul li { width: 24%; }
  #resume h4 + p > em { color: #a6010d; margin-top: -3.4em; padding-top: 0; font-size: 110%; float: right; text-align: right; } }

/*# sourceMappingURL=style.css.map */
