* {
    font-family: sans-serif;
    color: #222;
    box-sizing: border-box;
}
:root {
    --dark-pink: #ff9393;
    --med-pink: #ffb7b5;
    --light-pink: #ffd4d3;
    --white-pink: rgb(255,247,247);
}

i { /* Icon colour */
    color: var(--dark-pink);
    width: 20px;
}
.nopadding { padding: 0; }
.nomargin { margin: 0; }

html {
    min-height: 100%;
    background: var(--white-pink);
    background: linear-gradient(0deg, rgba(255,232,232,1) 0%, rgba(255,247,247,0) 40%);
    border-top: 5px solid var(--med-pink);
}

body {
    /* Fixes auto margin counting the scrollbar size */
    margin-left: calc(100vw - 100%);
}

.corner {
    left: 0;
    top: 0;
    padding: 20px 0 0 10px;
    z-index: -1;
}
.corner:before {
    font-size: 1.5rem;
}
.corner:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: var(--light-pink) transparent transparent transparent;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: -2;
}

main {
    width: 600px;
    max-width: 90vw;
    margin: 60px auto;
}
@media only screen and (max-width: 750px) {
    main { padding: 0 5vw; }
}

h1 {
    margin: 0.7rem 0;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin: 1.5rem 0 0.7rem;
}

ul, .fake-li {
    padding-left: 1rem;
}

li {
    list-style-type: none;
    margin-bottom: .5rem;
}

li .fab, li .fas {
    /* transform: translateY(10%); */
    vertical-align: text-bottom;
}

a {
    text-decoration-color: var(--med-pink);
    text-decoration-style: dashed;
}

.social {
    display: flex;
}

.resume-link {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    /* text-transform: uppercase; */
    background-color: var(--dark-pink);
    padding: 0.7rem;
    margin: 2rem 0 0;
    border-radius: 0.7rem;
    color: var(--white-pink);
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}
.resume-link i {
    color: var(--white-pink);
    font-size: 1.3rem;
}

/* RESUME */
#resume header {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
}
#resume header ul { text-align: right; }

#resume h2 {
    border-bottom: 1px solid var(--dark-pink);
    padding-bottom: 0.2rem;
}

#resume h3 i { width: 25px; }

#resume h3 + p,
#resume h3 + p + p {
    margin: .2rem;
}
#resume h3 + p + p {
    font-style: italic;
    font-size: .8rem;
}

.columns {
    column-count: 4;
}
@media only screen and (max-width: 620px) {
    .columns { column-count: 3; }
}
@media only screen and (max-width: 460px) {
    .columns { column-count: 2; }
}

.experience ul,
.education ul {
    list-style-type: initial;
    list-style-image: url(../resume/diamond.svg);
}

.fake-li:before {
    content: url(../resume/diamond.svg);
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0 0.2rem 0 -0.7rem;
}